.about-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 644px;
    background-color: rgb(84, 158, 180);
    align-items: center;
    justify-content: space-between;
}

.about-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 40%;
    margin-right: 110px;
    color: rgb(249, 248, 251);
}

.page-description {
    font-size: 17px;
    font-family: 'Alata', sans-serif;
}

