.gallery-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: rgb(191, 138, 212);
    padding: 30px;
}

.gallery-text {
    text-align: center;
    height: 15%;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    width: 70%;
}

.gallery-images-start{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.gallery-images-start-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

.gallery-images-end {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.gallery-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.gallery-button-view {
    width: 170px;
    height: 50px;
    font-family: 'Alata', sans-serif;
    color: rgb(249, 248, 251);
    background-color: rgb(156, 51, 142);
    border:  rgb(104, 34, 94);
    padding: 12px 4px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
    transition-duration: 0.4s;
}

.gallery-button-view:hover {
    background-color: rgba(156, 51, 142, 0.493);
}